<div class="row">
  <div class="large-12 columns">
    <%= form_for(@plant_type) do |f| %>
      <% if @plant_type.errors.any? %>
      <div id="error_explanation">
      <h2><%= pluralize(@plant_type.errors.count, "error") %> prohibited this plant_type from being saved:</h2>

      <ul>
        <% @plant_type.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row">
      <div class="large-6 columns">
        <div class="field">
          <%= f.label :name %><br>
          <%= f.text_field :name %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        <div class="field">
          <%= f.label :notes %><br>
          <%= f.text_area :notes %>
        </div>
      </div>
    </div>
    <div class="actions">
      <%= f.submit :class => 'button' %>
    </div>
  <% end %>
  </div>
</div>
