<div class="row">
  <div class="large-12 columns">
    <h1>Hack venue</h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <p id="notice"><%= notice %></p>

    <p>
    <strong>Venue:</strong>
    <%= @hack_venue.venue %>
    </p>

    <p>
    <strong>Notes:</strong>
    <%= @hack_venue.notes %>
    </p>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <ul class="button-group round">
      <li><%= link_to 'Edit', edit_hack_venue_path(@hack_venue), :class => 'button secondary small' %></li>
      <li><%= link_to 'Back', hack_venues_path, :class => 'button secondary small' %></li>
    </ul>
  </div>
</div>
