    <div class="row">
      <div class="large-12 columns">
        <fieldset>
          <legend>OccasionalGroups:</legend>
          <% if for_edit -%>
            <div class="row">
              <div class="large-12 columns">
                <%= link_to 'Add', new_hack_meet_occasional_group_path(@hack_meet), :class => 'button primary small' %>
              </div>
            </div>
          <% end -%>
          <% @occasional_groups.each_with_index do |occasional_group, index| -%>
            <div class="row">
              <% if for_edit || index > 0 -%>
                <div class="large-12 columns">
                  <hr>
                </div>
              <% end -%>
              <div class="large-8 columns">
                <p>
                <strong>Description:</strong>
                 <%= occasional_group.description %>
                </p>
              </div>
              <div class="large-2 columns">
                <p>
                <strong>Attendance:</strong>
                 <%= occasional_group.no_of_attendees %>
                </p>
              </div>
              <% if for_edit -%>
                <div class="large-1 columns">
                  <p>
                  <%= link_to 'Edit', edit_hack_meet_occasional_group_path(@hack_meet, occasional_group), :class => 'button secondary small' %>
                  </p>
                </div>
                <div class="large-1 columns">
                  <p>
                  <%= link_to 'Delete', [@hack_meet, occasional_group], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button alert small' %>
                  </p>
                </div>
              <% end -%>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <p>
                <strong>Notes:</strong>
                 <%= simple_format occasional_group.notes %>
                </p>
              </div>
            </div>
           <% end -%>
        </fieldset>
      </div>
    </div>

