<div class="row">
  <div class="large-12 columns">
    <h1>Hack <%= hack_desc @hack_meet.hack_year, @hack_meet.hack_month %></h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <p id="notice"><%= notice %></p>

    <div class="row">
  <div class="large-12 columns">
      <fieldset>
        <legend>Hack</legend>
        <div class="row">
          <div class="large-4 columns">
            <p>
            <strong>Date:</strong>
            <%= @hack_meet.hack_date %>
            </p>
          </div>

          <div class="large-4 columns">
            <p>
            <strong>Time:</strong>
            <%= @hack_meet.start_time %>
            </p>
          </div>

          <div class="large-4 columns">
            <p>
            <strong>Venue:</strong>
            <%= @hack_meet.hack_venue %>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="large-4 columns">
            <p>
            <strong>Work area:</strong>
            <%= @hack_meet.work_area %>
            </p>
          </div>

          <div class="large-4 columns">
            <p>
            <strong>Social:</strong>
            <%= @hack_meet.social %>
            </p>
          </div>

          <div class="large-4 columns">
            <p>
            <strong>Attendance count:</strong>
            <%= @hack_meet.hack_attendances_count %>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="large-4 columns">
            <p>
            <strong>List of plants:</strong>
            <%= @hack_meet.plant_list %>
            </p>
          </div>
          <div class="large-8 columns">
            <p>
            <strong>Hack leader:</strong>
            <%= @hack_meet.hack_leader.full_name %>
            </p>
          </div>
        </div>
      </fieldset>
    </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <fieldset>
          <legend>Notes:</legend>
          <%= simple_format @hack_meet.notes %>
        </fieldset>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <fieldset>
          <legend>Attendance</legend>
          <div class="row">
            <div class="large-12 columns">
              <p>
              <table>
              <%# @hack_meet.hack_members.hack_seq.each do |hack_member| -%>
              <% @hack_meet.hack_members.hack_seq.in_groups_of(4) do |hack_members| -%>
                <tr>
              <% hack_members.compact.each do |hack_member| -%>
                <td><%= link_to hack_member.full_name, hack_member_path(hack_member) %><br /></td>
              <% end -%>
              </tr>
              <% end -%>
              </table>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns">
              <p>
              <strong>Newsletter list of names:</strong>
              <%= @hack_meet.hack_members_for_newsletter %>
              </p>
            </div>
          </div>
        </fieldset>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <fieldset>
          <legend>Media</legend>
          <% if @pdfs.empty? -%>
            <p>There are no newsletters for this meet.</p>
          <% else -%>
            <ul class="inline-list">
            <% @pdfs.each do |pdf| -%>
              <li><a href="/<%= pdf.to_s %>"><%= pdf.basename.to_s %></a></li>
            <% end -%>
            </ul>
          <% end -%>

          <% if @images.empty? -%>
            <p>There are no images for this meet.</p>
          <% else -%>
            <p>Click on the image name to view in gallery, click on the icon to view full-size in the browser.</p>
            <div id="gallery">
              <ol class="inline-list">
                <% @images.each do |image| -%>
                  <li>
                    <%= link_to image_tag('photo_link.png'), File.join(@image_folder, image), :title => '(view in browser)', :style => 'display:inline;' %>&nbsp;
                    <%= link_to image, File.join(@image_folder, image), :title => image, :class => 'gallery', :style => 'display:inline;' %>
                  </li>
                <% end -%>
              </ol>
            </div>
          <% end -%>

        </fieldset>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <ul class="button-group round">
      <li><%= link_to 'Edit', edit_hack_meet_path(@hack_meet), :class => 'button secondary small' %></li>
      <li><%= link_to 'Back', hack_meets_path, :class => 'button secondary small' %></li>
    </ul>
  </div>
</div>

<% content_for :late_js do %>
      <script language="JavaScript">
        jQuery(function() {
          jQuery(".gallery").colorbox({rel:'group', transition:"none", width:"90%", height:"90%"});
        });
      </script>
<% end %>
