<div class="row">
  <div class="large-12 columns">
    <h1>Hack <%= hack_desc @hack_meet.hack_year, @hack_meet.hack_month %></h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <p id="notice"><%= notice %></p>

    <p>
    <strong>Hack date:</strong>
    <%= @hack_meet.hack_date %>
    </p>

    <p>
    <strong>Start time:</strong>
    <%= @hack_meet.start_time %>
    </p>

    <p>
    <strong>Work area:</strong>
    <%= @hack_meet.work_area %>
    </p>

    <p>
    <strong>Notes:</strong>
    <%= simple_format @hack_meet.notes %>
    </p>

    <p>
    <strong>Hack venue:</strong>
    <%= @hack_meet.hack_venue %>
    </p>

    <p>
    <strong>Social:</strong>
    <%= @hack_meet.social %>
    </p>

    <p>
    <strong>Hack attendances count:</strong>
    <%= @hack_meet.hack_attendances_count %>
    </p>
    <p>
    <strong>List of plants:</strong>
    <%= @hack_meet.plant_list %>
    </p>

    <p>
    <strong>Attended by:</strong>
    <%= @hack_meet.hack_attendances_count %>
    <% @hack_meet.hack_members.hack_seq.each do |hack_member| -%>
      <%= link_to hack_member.full_name, hack_member_path(hack_member) %><br />
  <% end -%>
    </p>
    <p>
    <strong>Newsletter list of names:</strong>
    <%= @hack_meet.hack_members_for_newsletter %>
    </p>

  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <ul class="button-group round">
      <li><%= link_to 'Edit', edit_hack_meet_path(@hack_meet), :class => 'button secondary small' %></li>
      <li><%= link_to 'Back', hack_meets_path, :class => 'button secondary small' %></li>
    </ul>
  </div>
</div>
