<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
    <style>
/* Make SlickGrid compatible with Zurb Foundation css:
http://stackoverflow.com/questions/12769863/slickgrid-with-zurb-foundation
(possibly not required once SG updated - issue #699)
 */
      #myGrid * {
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
      }
      #myGrid [class*="column"]:last-child {
        float: none;
      }
      /* For Firefox */
      .slick-header-column {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
      }
    </style>
  </head>

  <body>
  <nav class="top-bar">
  <ul class="title-area">
    <li class="name"><h1><a href="/">Hacks</a></h1></li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class=""><%= link_to 'Hack members', hack_members_path %></li>
      <li class=""><%= link_to 'Venues', hack_venues_path %></li>
      <li class=""><%= link_to 'Plant Types', plant_types_path %></li>
      <li class="has-dropdown not-click">
      <a href="#">Example</a>
      <ul class="dropdown"><li class="title back js-generated"><h5><a href="#">« Back</a></h5></li>
        <li class=""><a href="http://patterntap.com">Pattern Tap</a></li>
        <li class=""><a href="http://www.zurb.com/word">Word</a></li>
        <li class=""><a href="http://www.zurb.com/responsive">Responsive</a></li>
        <li class=""><a href="http://www.zurb.com/playground">Playground</a></li>
        <li class=""><a href="http://www.zurb.com/quips">Quips</a></li>
      </ul>
      </li>
    </ul>
  </section>
</nav>

    <%= yield %>

    
    <%= javascript_include_tag "application" %>
    <%= content_for :late_js %>
  </body>
</html>
