<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "#{app_name.underscore.titleize}" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "# {app_name.underscore.titleize}" %>">
    <%#= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%# Modernizr is required for Zurb Foundation 4 %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%#= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <style>
/* Make SlickGrid compatible with Zurb Foundation css:
http://stackoverflow.com/questions/12769863/slickgrid-with-zurb-foundation
(possibly not required once SG updated - issue #699)
 */
      #myGrid * {
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
      }
      #myGrid [class*="column"]:last-child {
        float: none;
      }
      /* For Firefox */
      .slick-header-column {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
      }
    </style>
  </head>
  <body>
    <%# application layout styled for Zurb Foundation 4 %>
    <header>
      <nav class="top-bar">
        <ul class="title-area">
          <li class="name"><h1><a href="/">Hacks</a></h1><!-- add site name or logo here --></li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
      <section class="top-bar-section">
        <%= render 'layouts/navigation' %>
      </section>
    </nav>
    </header>
    <main role="main">
      <div class="container">
        <div class="content">
          <div class="row">
            <div class="twelve columns">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div>
    </main>
    <%= javascript_include_tag "application" %>
    <%= content_for :late_js %>
  </body>
</html>
